<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="likelion.smu.com.likelion_alba">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".DaetaActivity">
        </activity>

        <activity android:name=".SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".SelectMain">
        </activity>
        <activity android:name=".Participation">
        </activity>
        <activity android:name=".Making">
        </activity>
        <activity android:name=".Exit">
        </activity>
        <activity android:name=".UserRoom">
        </activity>
        <activity android:name=".ScheduleAdd">

        </activity>
        <activity android:name=".ScheduleAddTime">

        </activity>
    </application>

</manifest>